@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	background-color: #5d5d5d;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 50px;
	color: #dedede;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 62px;
	text-align: center;
	margin-bottom: 0;
}

h3 {
	font-size: 32px;
}

hr {
	width: 75%;
	border-color: #dedede;
	margin-bottom: 100px;
}

section {
	margin: auto 125px;
	margin-bottom: 50px;
}

p {
	margin: auto 50px;
	font-size: 18px;
}

input, textarea {
	font-size: 18px;
	padding: 5px;
}

a, a:visited {
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
	color: #dedede;
}

a:hover {
	color: #7e7e7e;
}

.full-width,
.half-width {
	display: block;
	margin: auto;
	text-align: center;
}

.full-width > p,
.half-width > p {
	text-align: left;
}

.half-width {
	width: 50%;
}

.description {
	display: block;
	text-align: center;
	margin: auto 50px;
	font-size: 18px;
	margin-bottom: 30px;
}